# create @ 20170328 by lincoln12s
#
# Descriptor:
#	Mount USB device, which normal user do not have write access.
#	Note if mount with other options, vfat may not be mounted.
#
# Modify History
# --------------
# 00a 28mar17 lzw create
# 00b 29mar17 lzw change mount point to "/media/usb/%k/%c", for easy umount.
# 00c 29mar17 lzw move all options into shell scripts
# 01a 11may17 lzw Fiexs BUG 003.

KERNEL=="sd[b-z]", NAME="%k", SYMLINK="udisk", GROUP="root", OPTIONS="last_rule"
ACTION=="add", KERNEL=="sd[b-z]*", RUN+="/bin/sh /utils/addUSBDev.sh %k", OPTIONS="last_rule"
ACTION=="remove", KERNEL=="sd[b-z]*", RUN+="/bin/sh /utils/rmUSBDev.sh %k", OPTIONS="last_rule"